<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true" thread-count="3">
	<listeners></listeners>
	<test thread-count="5" name="Test" parallel="classes">
		<classes>
			<class name="example.example.tests.AlertTest">
			</class>
			<class name="example.example.tests.BanklogInTest">
			</class>
			<class name="example.example.tests.BankTest">
			</class>
			<class name="example.example.tests.BrowserWindowTest">
			</class>
			<class name="example.example.tests.DropdownTest">
			</class>
			<class name="example.example.tests.IframeTest">
			</class>
			<class name="example.example.tests.LinkTest">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
